{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<footer class="bg-dark text-light">
    <div class="container-fluid py-3">
        <div class="row">
            <!-- Link para "Retornar ao topo da página" -->
            <div class="col-md-4 text-center">
                <a href="#" class="nav-link text-light">
                    <i class="fas fa-arrow-up"></i> Retornar ao topo da página 
                </a>
            </div>

            <!-- Logo e Nome da Empresa -->
            <div class="col-md-4 text-center">
                <a href="#" class="footer-brand-link d-flex align-items-center justify-content-center">
                    <img src="{% static 'assets/logo/Logo.png' %}" alt="Mundo Artes Personalizados Logo" class="footer-logo">
                    <h3 class="ml-3 footer-brand-text">Mundo Artes Personalizados</h3>
                </a>
            </div>

            <!-- Redes Sociais -->
            <div class="col-md-4 text-center">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.facebook.com/MundoArteCariCanecas?mibextid=LQQJ4d">
                            <i class="fab fa-facebook fa-3x"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.instagram.com/mundoarte_caricanecas/">
                            <i class="fab fa-instagram fa-3x"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://wa.me/5545999241772?text=Seja+bem-vindo+%C3%A0+Mundo+Artes+e+Personalizados%21+Aqui%2C+transformamos+suas+ideias+em+realidade+com+nossos+produtos+personalizados.+Estamos+ansiosos+para+criar+algo+especial+para+voc%C3%AA.+Obrigado+por+escolher+a+nossa+empresa%21">
                            <i class="fab fa-whatsapp fa-3x"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center bg-secondary py-2">
        &copy; 2023 Todos os direitos reservados por Mundo Artes Personalizados.
    </div>
</footer>
