{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
<link href='https://unpkg.com/css.gg@2.0.0/icons/css/search.css' rel='stylesheet'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<body>
  <nav class="menu">
      <ul class="menu-items">
          <li class="menu-item">
              <a href="{% url 'index' %}" class="active_home">
                  <i class="fa fa-home"></i>Página Inicial</a>
                <a href="{% url 'redesSociais' %}"><i class="fab fa-instagram">
                  </i> Redes Sociais</a>
          </li>
          <div class="Empresa">
            <a href="#">
              <span>Mundo Artes</span>
              <img src="{% static 'assets/logo/logo.png' %}" alt="Logo Mundo Artes Personalizados">
                <div class="empresa-text">
                    <span>Personalizados</span>
                </div>
            </a>
        </div>
          <li class="menu-item">
              <a href="{% url 'endereco' %}"><i class="fa fa-map-marker"></i> Endereço</a>
              <a href="{% url 'sobre' %}"><i class="fa fa-info-circle"></i> Sobre</a>
          </li>
      </ul>
      <div class="whatsapp">
          <a href="https://wa.me/5545999241772?text=Seja+bem-vindo+%C3%A0+Mundo+Artes+e+Personalizados%21+Aqui%2C+transformamos+suas+ideias+em+realidade+com+nossos+produtos+personalizados.+Estamos+ansiosos+para+criar+algo+especial+para+voc%C3%AA.+Obrigado+por+escolher+a+nossa+empresa%21">
              <span class="whatsapp-icon"><i class="fab fa-whatsapp"></i></span>
              <span class="whatsapp-number">Whatsapp</span>
          </a>
      </div>
  </nav>
</body>