{% extends 'mundoarte/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class="container">
    <p class="location">Rua Luis Segundo Rossoni, 877, centro, Toledo/PR, em frente ao Mundo Animal</p>
    <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3623.735709270078!2d-53.7446674195018!3d-24.735952121313098!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94f39518b44c9049%3A0x2d63936eaebc7dd4!2sMundo%20Arte%20Caricanecas!5e0!3m2!1sen!2sbr!4v1703436523009!5m2!1sen!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>


{% endblock %}