{% extends 'mundoarte/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<div class="about-us">
    <h2>Sobre nós</h2>
    <img src={% static 'assets/img/mundo_arte.jpg' %} alt="Mundo Arte" class="about-us-img">
    <p class="about-us-content">
      Com sede na encantadora cidade de Toledo, Paraná, a Mundo Artes Personalizados é uma empresa com um compromisso apaixonado por dar vida à criatividade através de produtos personalizados. Como membro associado da renomada franquia Caricanecas, nosso objetivo é enriquecer a vida de nossos clientes com peças únicas que refletem sua personalidade e gosto únicos.
      <br/><br/>
      Estamos firmemente enraizados na comunidade de Toledo, compartilhando a vivacidade e o charme característicos da cidade em cada um dos produtos que criamos. Nossa equipe de artistas talentosos está comprometida em produzir peças de alta qualidade, combinando habilidade artesanal com o charme distintivo da arte personalizada.
      <br/><br/>
      Na Mundo Artes Personalizados, acreditamos que um produto personalizado é mais do que apenas um item - é uma forma de expressão, uma extensão de quem você é. Seja um presente para um ente querido ou uma peça para você mesmo, nossos produtos oferecem uma maneira singular de expressar sua individualidade.
      <br/><br/>
      Orgulhamo-nos de nosso atendimento ao cliente dedicado, sempre buscando compreender e atender às necessidades de cada cliente. Desde a escolha do design até a entrega do produto final, garantimos que cada passo do processo seja tão personalizado quanto o produto em si.
      <br/><br/>
      Junte-se a nós nessa jornada criativa e experimente a alegria de transformar o comum em algo extraordinário. Seja bem-vindo ao Mundo Artes Personalizados - onde a arte encontra a personalização.
    </p>
  </div>
{% endblock %}